{% load i18n %}
{% load static tailwind_cli %}
<!DOCTYPE html>
<html data-theme="light" lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block head_title %}SaaS{% endblock head_title %}
        </title>
        {% block extra_head %}
        {% endblock extra_head %}
        {% include 'base/css.html' %}
        {% tailwind_css %}
    </head>
    <body>
        {% block body %}
        <div class="container mx-auto flex flex-col items-center">
            {% include 'allauth/account-nav.html' %}
            {% block content %}
            {% endblock content %}
        </div>
        {% endblock body %}
        {% block extra_body %}
        {% endblock extra_body %}
        {% include 'base/bottom-js.html' %}
    </body>
</html>
